body {
    background: #DADADA;
        margin: 0;
    overflow-x: hidden;
    min-width: 320px;
        height: 100%;
}
* {
    font-size: 103%;
    vertical-align: middle;
}
.container{
    width: 80%;
    margin-left: auto!important;
    margin-right: auto!important;
    padding-top: 100px;
    display: block;
    max-width: 100%!important;
    
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.column{
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}
.eleven-wide{
    box-sizing: border-box;
    padding:14px;
    width: 68.75%!important;
    position: relative;
    display: inline-block;
}
.five-wide{
    box-sizing: border-box;
    width: 31.25%!important;
    padding: 14px;
    float: right;
    position: relative;
    display:inline-block;
}
.product-name, .product-count, .product-buy-button{
    box-sizing: border-box;
}
.product-name{
    width: 25%!important;
    padding: 14px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.product-count{
    width: 37.5%!important;
    padding: 7px 14px 0 14px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center; 
}
.product-buy-button{
    width: 37.5%!important;
    padding: 7px 14px 0 14px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: right; 
}
.segments{
    
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
}
.segment{
    display: block;
    top: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    width: auto;
    box-shadow: none;
    position: relative;
    background: white;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.input{
    display: flex;
    position: relative;
    padding 16px;
    height: 42.69px;
    
}


.add-button{
    box-sizing: border-box;
    outline: none;
    border-radius: 0 5px 5px 0;
    display: block;
    width: 30%;
    height: 50px;
    color: white;
    background-color:dodgerblue ;
    border: 0;
    float: right;
    box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}
.minus-button{
    outline: none;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    background-color: red;
    border: 0;
    box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}
.count-label{
    border-radius: 5px;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #cdcbcb;
    color: #393939;
}
.plus-button{
        outline: none;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    background-color: forestgreen;
    border: 0;
    box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}
.buy-button {
    outline: none;
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    border: 0;
    background: #d3d3d3;
    color: #393939;
    box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}
.delete-button {
    outline: none;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 40px;
    background: red;
    border: 0;
    box-shadow: 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}
.input-form{
    box-sizing: border-box;
    outline: none;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    width: 70%;
    height: 50px;
    border-width: 1px;
    text-indent: 5px;
    border-color: lightgray;
}
.title-left{
    font-size: 125%;
    font-weight: bold; 
}
.products-left{
    display: block;
    padding: 20px;
    border-style: solid;
    border-width: 1px 0px;
    border-color: lightgrey;
}
.counter-left{
       text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background: #d3d3d3;
    display: inline-block;
}
.product-left-name{
    display: inline-block;
}
.product-counter{
    display: inline-block;
    min-width: 18px;
    height: 18px;
    color: white;
    border-radius: 50%;
    background: orange;
    padding: 3px;
}
.bought{
        display: block;
    padding: 20px;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-color: lightgrey;
}




